
main.tex
main.txt
main.pdf

stylesheet.sty
bibliography.bib

atd.txt
*.aux
*.lof
*.log
*.bbl
*.blg
*.toc
*.idx
*.ilg
*.ind
*.lol
*.out
*.loa
*.equ
*.pyg
*.alg
*.lomintedobject
*.loalgobject
*.loe

bib/.changed
sys.err
sys.out
