
final.tex
stylesheet.sty
bibliography.bib
final.txt
atd.txt
final.pdf
*.aux
*.lof
*.log
*.bbl
*.blg
*.toc
*.idx
*.ilg
*.ind
*.lol
*.out
*.loa
*.equ
*.pyg
*.alg
*.lomintedobject
*.loalgobject
*.loe

bib/.changed
sys.err
sys.out
