perso.sty
Notes-on-Threesomes,-Degenerates,-and-Love-Triangles.pdf
Notes-on-Threesomes,-Degenerates,-and-Love-Triangles.tex
*.aux
*.lof
*.log
*.bbl
*.blg
*.toc
*.idx
*.ilg
*.ind
*.lol
*.out
*.loa
*.equ
*.pyg
*.alg
*.lomintedobject
*.loalgobject
*.loe
bib/touch.bbl
bib/touchtmp.bbl
